@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.center{
  max-width: 700px;
}
body{
  background-color: #f5f5f5;
}
.container{
  background-color: rgb(231, 231, 231);
  height: 94vh;
  margin: 20px ;
}
.box-text{
  text-align: center;
}
.box-text h1{
  font-size: 50px;
}
form{
  text-align: center;
  margin: 20px 0;
}
form input[type=text]{
  width: 10%;
  text-align: center;
}
.viwerCl{
  margin: 30px auto;
  height: 180px;
  width: 180px;
}
footer{
  padding: 10px;
  text-align: center;


}
