.main {
  margin: 20px auto;
  max-width: 1200px;
  padding: 0 2%;
  text-align: left;
}
.header {
  background-color: rgba(15, 235, 114, 0.795);
  height: 80px;
  text-align: center;
}
.header h1 {
  color: rgb(5, 85, 99);
  margin: 0;
}
.flex {
  display: flex;
}
.container {
  flex-direction: column;
  margin: 10px 10px 10px 0;
}
span {
  font-size: 18px;
  color: rgb(107, 107, 107);
}
.barraGraph {
  display: flex;
  margin: 10px auto;
  width: 98%;
}
.barraGraph div {
  height: 40px;
  background-color: rgb(243, 139, 3);
}
input {
  font-weight: 500;
}
